<html>
<head>
	<title>Eventalist</title>


	<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

  <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>

</head>
<body>

<div class='container'>
		<div class='row'>
		<header class='col-md-12'>
			<h1>Eventalist</h1>
		</header>

	</div>


	<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li class="active"><a href="#"><span id="home">All</span></a></li>
        <li><a href="#art">Art</a></li>
        <li><a href="#music">Music</a></li>
        <li><a href="#theater">Theater</a></li>
        <li><a href="#free">Free</a></li>
        <li><a href="#nightlife">Nightlife</a></li>
      </ul>
      <!-- search bar -->
        
        <div class='navbar-form navbar-left' role='search'>
       	 <div class="input-group">
	    			<input type="text" class="form-control search" name="search" autocomplete="off">
   						<span class="input-group-addon">
   							<a href='#search'><i class="glyphicon glyphicon-search"></i></a>
							</span>
					</div>
				</div>


      <ul class="nav navbar-nav navbar-right">
      	<li><button id="initialSubscribe" class="btn btn-primary" data-toggle="modal" data-target="#subscriptionView">Subscribe to Eventalist</button>
	 			</li>
 			</ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


	<div class='row'>
		<main class='col-md-12'>

			<ul class='events col-md-12'>
			</ul>

		</main>
	</div>



<!-- TEMPLATE FOR EACH EVENT -->
	<script id='template-event-list' type='text/template'>
	
	<div class='row'>
		<h5 class="col-md-12"><%= title %></h5>
	</div>

	<div class='row'>
		<a class='col-md-12' href="http://www.<%= venue_website %>" target="_blank"><%= venue %></a><br>
	</div>

	<div class='row'>
		<button class='moreInfo btn btn-info btn-xs col-md-4' data-toggle='modal' data-target='#viewEvent'>More info</button>
	</div>

	</script>


<!-- MODAL EVENT VIEW  -->
<div class="modal fade" id="viewEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id='modalEventView'>

		<script type="text/template" id="template-event-modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel"><%= title %></h4>
			</div>

			<div class="modal-body">

					<p><em><%= category_id == 1 ? 'Music' : category_id == 2 ? 'Art' : category_id == 3 ? 'Theater' : category_id == 4 ? 'Free' : 'Nightlife' %></em><p>
					<h5><%= date %></h5>
					<p><%= description %></p>
					<p><%= price %></p>
					<a href="http://www.<%= venue_website %>" target="_blank"><%= venue %></a>
					<p><%= address %></p>
					<a href=<%= link ? link : "http://www.google.com"%> target="_blank" >Event Link</a>
				</script>

			</div>

		</div>
	</div>
</div> <!-- MODAL EVENT VIEW-->

<!-- MODAL SUBSCRIPTION VIEW  -->
<div class="modal fade" id="subscriptionView" tabindex="-1" role="dialog" aria-labelledby="subscriptionView" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Subscribe to Eventalist</h4>
      </div>



      <div class="modal-body">
        <div class="form">
        	<div class="row">
	        		<label class='col-sm-2'>Name: </label>
	        		<input type="text" class="name">
	        </div><!-- end row -->
         <br>
         <div class="row">
	        		<label class="col-sm-2">Email: </label>
	        		<input type="text" class="email">
        	</div><!--end row -->
          <br>
        	<div class="row">
            <div class="col-md-2">
  	        	<input type="checkbox" class="art">
  	        	<label>Art</label>
            </div>

            <div class="col-md-2">
  	        	<input type="checkbox" class="music">
  	        	<label>Music</label>
            </div>

            <div class="col-md-2">
  	        	<input type="checkbox" class="theater">
  	        	<label>Theater</label>
            </div>

            <div class="col-md-2">
            	<input type="checkbox" class="free">
  	        	<label>Free</label>
            </div>

             <div class="col-md-3">
            	<input type="checkbox" class="nightlife">
  	        	<label>Nightlife</label>
            </div>

        	</div> <!-- end row-->
    		</div> <!-- end form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="subscribeUser"type="button" class="btn btn-primary" data-dismiss="modal">Subscribe</button>
      </div>
    </div>
  </div>
</div> <!-- MODAL SUBSCRIPTION VIEW-->





</div> <!--/CONTAINER-->

  <script type='text/javascript' src='app.js'></script>
  <script type='text/javascript' src='models_collection.js'></script>
</body>
</html>