<html>
<head>
	<title>EventAList</title>
	<script src='jquery.js'></script>
	<script src='underscore.js'></script>
	<script src='backbone.js'></script>

</head>
<body>
	
	<header>
		<h1>Eventalist</h1>
	</header>

	<div class='subscription'>
		<input name='name' class='name'></input>
		<input name='email' class='email'></input>
	</div>

	<main>
		
		<ul class='events'>
		</ul>

	</main>




<!-- TEMPLATE FOR EACH EVENT -->
	<script id='template-event-list' type='text/template'>
		<h5><%= date %>- <%= title %></h5>
	</script>


  <script type='text/javascript' src='app.js'></script>
  <script type='text/javascript' src='models_collection.js'></script>
</body>
</html>